
.login1{
text-decoration: none;
color: black;
font-size: 14px;

}


.sign1{
    text-decoration: none;
    color: white;
    font-size: 14px;
    


}

.icon{

padding-left: 5cm;

}

.text1{

margin-left: 12cm;
margin-top: -0.5cm;
font-size: 16px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration-style: solid;
text-rendering: auto;
}




button{

margin-left: 27cm;
margin-top: -0.7cm;
background-color: #00B246;
border-radius: 5px;
color: grey; 
font-weight: bold;
padding: 10px;
border:#00B246;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login{

padding-left: 25cm; 
margin-top: -0.5cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: black;
text-decoration: none;

}

.bg{

margin-top: 0.7cm;
position: relative; 
width: 100%;
}


bg-gray{

    margin-left: 21cm;
    margin-top: -12cm;
    border: rgb(241, 241, 241) 3px solid;    
    background-color: blue;
    width: 70%;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
    position: absolute;
}

.text2{

margin-top: -13cm;
margin-left: 10.5cm;
color: white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 40px;
font-weight: lighter;
position: absolute;

}

.border{


}

.form1{
   
margin-top: -12cm;
position: absolute;

width: 30%;

margin-left: 0.5cm;
}


.address{
margin-left: 10cm;
margin-top: 3cm;
width: 11cm;
height: 1cm;
background-color: white;
border-radius: 4px;
border: 1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apt{

margin-top: -1cm;
width: 3cm;
height: 1cm;
border-radius: 4px;
border: 1px;
margin-left: 21.2cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.email{

margin-left: 10cm;
margin-bottom: cm;
width: 7cm;
height: 1cm;
border-radius: 4px;
border: 1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.find{

width: 6.57cm;
height: 1.1cm;
background-color: rgb(13, 184, 13);
color: white;
margin-left: 17.5cm;
margin-top: -1cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text3{

color: white;
margin-left: 10cm;
margin-top: -10cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: absolute;

}


.left-side{
margin-top: 5cm;
margin-left: 7cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.left-text{

color:grey;
font-size: 20px;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.left2{
color: grey;



}

.button2{

margin-left: 7px;
margin-top: 0.5cm;
color: white;
}

.comp{

padding-left: 19cm;
margin-top: -7cm;
}

.group1{

padding-left: 6cm;
padding-top: 4cm; 
padding-bottom: 2cm; 
margin-top: 2cm;
color: darkgray;
background-color: rgb(252, 252, 252);
width: 100%;
}

.pone{

padding-left: 2cm;

}

.use{

margin-left: 2cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ponet{

margin-top: -1cm;

}


.lock{

margin-left: 10.5cm;
margin-top: -4.8cm;

}

.lockt{

margin-left: 9cm;
margin-top: 0cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.private{

margin-left: 10.6cm;
margin-top: -2.3cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trust{

margin-left: 19cm;
margin-top: -5cm;
}

.Trusted{

margin-left: 20cm;
margin-top: -2.3cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.trust-t{

margin-left: 18cm;
margin-top: -0.2cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vid{

margin-left: 10cm;
margin-top: -6cm;
}

.vidt{

margin-top: 4cm;
margin-left: 15cm;
color: gray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.group2{

background-color: rgb(252, 252, 252);
padding-bottom: 2cm; 
}

.text4{

margin-left: 7cm;
color: gray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.neighbour{

margin-left:11cm;
margin-top: 1cm;
padding-right: 4cm;
padding-left: 4cm;
height: 1.5cm;
color: white;
}


.last{

margin-top: 1cm;
margin-left: 5cm;
 
}


.space{

    padding: 0.5cm;

}

.footer{

color: white;
background-color: gray;
padding-bottom: 1cm;    

}

.company{

color: lightgrey;
margin-left: 6cm;


}


.resource{

    color: lightgrey;
    margin-left: 10cm;
    margin-top: -1cm;
    
    }
    

    .community{

        color: lightgrey;
        margin-left: 14cm;
        margin-top: -1cm;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
    .business{

            color: lightgrey;
            margin-left: 18cm;
            margin-top: -1cm;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

    .div1{

        margin-left: 5cm;
        text-decoration-style: none;
        list-style-type: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }


    .div2{
        margin-left:9cm;
        list-style-type: none;
        margin-top: -4.2cm;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }     
    
    
    .div3{
        margin-left: 13cm;
        list-style-type: none;
        margin-top: -4.2cm;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
            
    .div4{
        margin-left: 18cm;
        list-style-type: none;
        margin-left: 17cm;
        margin-top: -4.2cm;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.line{
    border: solid lightgrey 1px;    
    margin-top: 1.5cm;  
    border-left: none;
    border-right: none; 
    width: 70%;
    margin-left: 5cm; 
    
}



.space1{

margin-left: 0cm;

}

.final-text{

margin-top: 1.5cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    

